1. Семантические теги
2. Вложенные стили
3. Картинки сужать, прогонять через https://squoosh.app
4. Папки с маленькой буквы, все файлы - с большой, стили - с маленькой
5. Стили писать через this_variant
6. Стили называем через module
7. Стили пишем через styles.this_variant
